$clr-prim-StrongCyan: hsl(171, 66%, 44%);
$clr-prim-LightBlue: hsl(233, 100%, 69%);
$clr-neut-DarkGrayishBlue: hsl(210, 10%, 33%);
$clr-neut-GrayishBlue: hsl(201, 11%, 66%);

.footer {
	&-bgcolor {
		background-color: #f5f6f8;
	}

	.links {
		text-align: center;
		margin: auto;
		color: $clr-neut-DarkGrayishBlue;
		display: flex;
		flex-direction: column;

		a {
			margin-bottom: 1.875rem;
			display: block;
			text-decoration: none;
		}
		a:hover {
			color: $clr-prim-StrongCyan;
		}
		.col1 {
			justify-self: flex-start;
			height: 4rem;
			margin: 3rem auto 2.8rem;
		}

		@media (min-width: 71.875rem) {
			//1150px
			padding-top: 2.8rem;
			padding-left: 2.8rem;
			padding-right: 2.8rem;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

			gap: 2rem;
			grid-template-areas:
				" col1 col2 col3 col4 . col6 "
				" col1 col2 col3 col4 . col6 ";

			.col1 {
				grid-area: col1;
				justify-self: flex-start;
				height: 3rem;
				margin: 3rem auto 2.8rem;
			}
			p {
				margin-bottom: 2.25rem;
			}
			.col2 {
				grid-area: col2;
				display: flex;
				flex-direction: column;
				padding-top: 2rem;
				align-self: center;
				text-align: left;
			}
			.col3 {
				grid-area: col3;
				display: flex;
				flex-direction: column;
				padding-top: 2rem;
				align-self: center;
				text-align: left;
			}
			.col4 {
				grid-area: col4;
				padding-top: 2rem;
				justify-self: flex-start;
			}
			.col6 {
				grid-area: col6;
				justify-self: flex-start;
			}
		}
		.col6 ul {
			display: flex;
			padding-top: 3rem;
			justify-content: center;
			@media (min-width: 71.875rem) {
				//1150px
				align-self: center;
			}

			li {
				list-style: none;
				margin: 1rem;
				font-size: 2rem;
			}
			.col6 ul li:hover {
				background-color: $clr-prim-StrongCyan;
			}
		}
	}

	.attribution {
		margin-top: 1rem;
		font-size: 11px;
		text-align: center;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}
