// Imports
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
// variables
// colors
$clr-prim-StrongCyan: hsl(171, 66%, 44%);
$clr-prim-LightBlue: hsl(233, 100%, 69%);
$clr-neut-DarkGrayishBlue: hsl(210, 10%, 33%);
$clr-neut-GrayishBlue: hsl(201, 11%, 66%);

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	// overflow: auto;
}

body {
	margin: 0 auto;
	max-width: 90rem; /*1440px*/

	font-family: "Bai Jamjuree", sans-serif;
}

.btn {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	max-width: 23.4375rem; //375px;
	padding: 0.8rem 4.625rem;
	border-radius: 150px;
}

.title {
	margin-bottom: 1.25rem;
	margin-top: 0;
	font-weight: 600;
}
.subTitle {
	margin-bottom: 3.75rem;
	margin-top: 0;
	color: $clr-neut-GrayishBlue;
	font-size: 0.95rem;
	line-height: 1.6;
	max-width: 60ch;
	margin-left: auto;
	margin-right: auto;
}
