.supercharge {
	padding: 0 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 6.125rem;

	.content-list {
		padding: 0 2rem;
	}
	.content-list img {
		margin-bottom: 2.8125rem;
	}
	.supercharge-content {
		@media (min-width: 71.875rem) {
			//1150px
			display: flex;
			flex-direction: row;
		}
	}
	.title {
		padding: 0 2rem;
	}
	.supercharge-head .subTitle {
		margin-bottom: 5.875rem;
		font-size: 0.95rem;
		line-height: 1.6;
	}
	.content-list {
		.subTitle {
			margin-bottom: 3.75rem;
			font-size: 0.95rem;
			line-height: 1.6;
			@media (min-width: 71.875rem) {
				//1150px
				margin-bottom: 0;
			}
		}
	}
}
